body {
  padding: 3% 6% 0 6%;
  /* font-family: ; */
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
  text-align: center !important;

}

.green {
  color: lightgreen;
}

.red {
  color: red;
}

.result-img {
  width: 30px;
  border-radius: 50%;
}